body {
	background: white;
	font-family: Merriweather;
	display: flex;

}


#firstid #secondid .parent  {
	text-align: center;
	background-color: #002366;
	border: 1px solid white;
	position: relative;
  	top: 50px;
  	width: 400px;
  	margin: 0 auto;
  	/*line-height: 12px;*/
  	display: flex;
  	flex-flow: column wrap;
}
#secondid{
	background-color: #002366;
	width: 100%;
	height: 300px;
	position: relative;  
}
#firstid{
	display: grid; 
	grid-gap: 1em;
	

}

.wrapper .first hr {
	border: solid;
	background-color: #000;
	color: #000;
	height: 1px;
	width: 90%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.content h3{
	color: black;
}
.content{
	width: 32em;
	margin: 0 0 0 16em;
}

.section-title {
	margin: 0;
	padding: 1em 0;
}
.date{
	float: left;
	font-size: 1em;
	margin: 0 0 0 -16em;
	text-align: right;
}

.wrapper{
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 1em;
	top: 50px;
}

.wrapper .first{
	background: lightgray;
	margin-left: 200px;

}

.wrapper .first h2{
	margin-top: 20px;
	margin-left: 10px;
	
}

.bigr p{
	line-height: 24px;
	flex-flow: column wrap;
	padding-left: 0 1em;
}

.wrapper .first .imag{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	margin-top: 10px;
	margin-left: 115px;


}
li{
	list-style: none;
	margin-left: 10px;
	line-height: 24px;
}

 h1, h3{
	padding-top: 10px;
	color: white;
}
h4{
	top: 20px;
	line-height: 24px;
}
